.row
  .col.s2.offset-s10
    %span.flow-text
      %a.right.waves-effect.waves-light.btn{href: "/criteria/new"}
        %i.material-icons.right add
        New Rules
  .col.s12
    -if @criteria
      %table.striped.highlight
        %tr
          %th Destination
          %th Actions
        - @criteria.each do |criteria|
          %tr
            %td 
              %a{href: "/criteria/#{criteria.id}"}= criteria.destination
            %td
              %a.waves-effect.waves-light.btn{href: "/criteria/#{criteria.id}/edit"}
                %i.material-icons.left edit
                Edit
              %a.waves-effect.waves-light.btn.red{href: "/criteria/#{criteria.id}/destroy"}
                %i.material-icons.left close
                Delete

    - else
      %p.flow-text
        No Rules Available!!!