.row
  .col.s12
  %table.striped.highlight.center-align
    %tr
      %th Destination
      %th= @criteria.destination
.row
  .col.s12
  %table.striped.highlight
    %tr
      %th Field
      %th Values
      %th Weight
    - @criteria.rules.each do |rule|
      %tr
        %td= rule.column
        %td= rule.value_as_string
        %td= rule.weight